.contact{
    height: calc(100vh - 70px);
}
.contact .light{
    position: absolute;
    mix-blend-mode: lighten;
    bottom: 0;
    transform: rotate(180deg);
    right: 0;
}

.contact ul{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;
    padding: 20px 15px;
    background-color: #23232370;
    border-radius: 15px;
}
@media(max-width:768px){
    .contact ul{
        flex-direction: row;
        width: 90%;
        bottom: 0px;
        top: auto;
        justify-content: space-between;
        
    }
}

.contact ul a{
    display: inline-block;
    color: white;
    font-size: 18px;
}
.contact ul a:hover i{
    color: #e36244;
}

.contact .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.contact .container h1{
    color: white;
    font-size: 50px;
    text-align: center;
}
.contact .container h1 > span{
    color: #e36244;

}

.contact .container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    
}
@media(max-width:992px){
    .contact .container form{
        width: 90%;
    }
}
@media(max-width:768px){
    .contact .container form{
        width: 100%;
    }
}
.contact .container form textarea,
.contact .container form input{
    width: 100%;
    padding:15px 20px;
    background: rgba(27, 21, 54, 0.5);
    box-shadow: 10px 10px 5px 0 rgb(27 20 53);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    font-size: 18px;
    position: relative;
}
.contact .container form textarea{
    height: 200px;
    resize: none;
}
.contact .container form textarea::placeholder,
.contact .container form input::placeholder{
  font-size: 16px;
}
.contact .container form textarea:focus,
.contact .container form input:focus{
    border-color: #e36244;
    outline: none;
    box-shadow: 0px 0px 0px 0 rgb(27 20 53);
}

.contact .container form button{
    width: fit-content;
    padding: 10px 20px;
    background: rgba(27, 21, 54, 0.5);
    box-shadow: 10px 10px 5px 0 rgb(27 20 53);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    font-size: 16px;
    border-radius: 10px;
    letter-spacing:1.5px;
    transition: 0.3s;
    cursor: pointer;

}
.contact .container form button:hover{
    background: #e36244;
}