.skills{
    height: calc(100vh - 70px);
    position: relative;
    overflow: hidden;
}
@media(max-width:992px){
    .skills{
        height: auto;

    }
}
.skills .container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
    height: 100%;
}



.skills .container .contact{
    width: 50%;
}
@media(max-width:992px){
    .skills .container{
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 70px);
        align-items: center;
    }
    .skills .container .contact{
        width: 90%;
    }
}
.skills .container .contact h2{
    padding: 10px;
    background-image: linear-gradient(to left, #64243c50,#df864250);
    border: 1px solid white;
    color: white;
    width: fit-content;
    font-size: 20px;
}
.skills .container .contact h1{
    color: #fff;
    font-size: 40px;
    padding: 10px 0;
}
.skills .container .contact h1 > span{
    color: #e36244;
}
.skills .container .contact p{
    color: #c5c5c5;
    font-size: 16px;
    line-height: 1.7;
}
.skills .container .contact a{
    position: relative;
    display: inline-block;
    width: 140px;
    height: 148px;
    margin-top: 40px;

}

@media(max-width:768px){
    .skills .container .contact h1{
        font-size: 30px;
    }
}

.skills .container .contact a:hover i{
    transform: translate(10px ,-12px);
}
.skills .container .contact a i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    transition: 0.3s;
}

@keyframes move{
    100%{
        transform: translatey(-10px);
    }
}

.skills .container .contact img{
    animation: rotet 5s infinite linear ;
    width: 100%;
}
@keyframes rotet{
    100%{
        transform: rotate(360deg);
    }
}
.skills .img1{
    width: 70%;
    mix-blend-mode: lighten;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -10000;

}

.skills ul{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;
    padding: 20px 15px;
    background-color: #23232370;
    border-radius: 15px;
}
@media(max-width:768px){
    .skills ul{
        flex-direction: row;
        width: 90%;
        bottom: 0px;
        top: auto;
        justify-content: space-between;
        margin-top: 10px;
    }
}


.skills ul a{
    display: inline-block;
    color: white;
    font-size: 18px;
}
.skills ul a:hover i{
    color: #e36244;
}

.transition{
  position: fixed;
  top: 0;
  right: 0;
  width: 110vw;
  height: 100vh;
}
.transition > div{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s;
}

.transition > div:nth-child(1){
    background-color: #2e2257;
    z-index: 5;
}


.transition > div:nth-child(2){
background-color: #3a2d70;
z-index: 4;
}
.transition > div:nth-child(3){
background-color: #4b3893;
z-index: 3;

}


/* skills */
.skills .img2{
    position: absolute;
    bottom: -150px;
    right: -150px;
    opacity: 0.8;
}

@media(max-width:992px){
    .skills .img2{
        right: 0;
    }
}

.skills .content{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 40px;
}
@media(max-width:992px){
    .skills .content{
        flex-direction: column;
        padding: 50px 0;
    }
}
.skills .content .description{
  flex: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.skills .content .description h1{
    color: white;
    font-size: 40px;
}
.skills .content .description h1 > span{
    color: #e36244;
}
.skills .content .description p{
    color: #c5c5c5;
    font-size: 15px;
    line-height: 1.7;
    padding-bottom: 20px;
}
@media(max-width:992px){
    .skills .content .description h1{
        font-size: 35px;
    }
    .skills .content .description p{
        width: 90%;
        font-size: 14px;
    }
}
@media(max-width:768px){
    .skills .content .description h1{
        font-size: 30px;
        text-align: center;
    }
    
    .skills .content .description p{
        font-size: 14px;
        text-align: center;
        width: 100%;
    }
}
.skills .content .description .exper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
@media(max-width:992px){
    .skills .content .description .exper{
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto;
    }
}
@media(max-width:768px){
    .skills .content .description .exper{
        width: 100%;
    }
}
.skills .content .description .exper .box{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.skills .content .description .exper .box:nth-child(1){
    padding-right: 30px;
}
.skills .content .description .exper .box:not(:last-child){
    border-right: 1px solid #ffffff26;
}

.skills .content .description .exper .box:not(:first-child){
    padding: 0 30px;
}
@media(max-width:768px){
    .skills .content .description .exper .box:not(:first-child){
        padding:0;
    }
}

.skills .content .description .exper .box p,
.skills .content .description .exper .box p span{
    font-size: 30px;
    font-weight: bold;
    color: #e36244;
    padding:0;
    text-align: center;
}

@media(max-width:992px){
    .skills .content .description .exper .box p,
    .skills .content .description .exper .box p span{
        font-size: 40px;
    }
}
@media(max-width:7682px){
    .skills .content .description .exper .box p,
    .skills .content .description .exper .box p span{
        font-size: 30px;
    }
}

.skills .content .description .exper .box span{
    color: #c5c5c5;
    font-size: 15px;
    text-align: center;
}



.skills .content .skills_image{
    flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

}
@media(max-width:768px){
    .skills .content .skills_image{
        padding-bottom: 50px;
    }
}

.skills .content .skills_image h1{
    color: white;
    font-size: 50px;
    letter-spacing: 1.5px;
}
.skills .content .skills_image .images{
    width: 100%;
}
.skills .content .skills_image .images button{
    background: none;
    border: none;
    margin-bottom: 50px;
    margin-right: 40px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}
.skills .content .skills_image .images .active,
.skills .content .skills_image .images button:hover{
    color: #e36244;
}


.skills .content .skills_image .images .active::before,
.skills .content .skills_image .images button::before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #e36244;
    bottom: -5px;
    left: 0;
    transition: 0.3s;
}

.skills .content .skills_image .images .active::before,
.skills .content .skills_image .images button:hover::before{
    width: 100%;
}
.skills .content .skills_image .images button:nth-child(1){
    margin-left: 20px;
}


.skills .content .skills_image .images .web_images img{
    width: 40px;
    transition: 0.3s;
    margin: 10px 20px; 
}

@media(max-width:768px){
    .skills .content .skills_image .images .web_images img{
        width: 35px;
    }
}

.skills .content .skills_image .images .web_images img:hover{
    transform: scale(0.8);
}


.skills .content .skills_image .images .tools{
  display: none;
}

.skills .content .skills_image .images .block{
    display: block;
}
.skills .content .skills_image .images .none{
display: none;
}



/* skills */

.my-element {
    --animate-duration: 1s;
}
