
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: Centra,sans-serif;
height: 100vh;
background-image: url(../image/site-bg.svg);
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
}
@media(max-width:768px){
    body{
        overflow: auto;
        height: auto;
    }
}
.container {
    padding-left: 200px;
    padding-right: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  @media(max-width:1300px){
    .container {
        padding-left: 120px;
        padding-right: 120px;
        margin-left: auto;
        margin-right: auto;
    }
  }
  @media(max-width:1200px){
    .container {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: auto;
        margin-right: auto;
    }
  }
  @media(max-width:992px){
    .container {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: auto;
        margin-right: auto;
    }
  }
  @media(max-width:768px){
    .container {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
    }
  }
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Small */
  
  /* @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  } */
  
  /* Medium */
  
  /* @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  } */
  
  /* Large */
  
  /* @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  } */


header{
    height: 70px;
    position: relative;
}
header img{
    position: absolute;
    z-index: -100;
    width: 400px;
    height: 400px;
    opacity: 0.8;
    mix-blend-mode:lighten;
}
header .image1{
    right: 0;
    transform: rotate(90deg);
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header h1{
  color: white;
}
header h1 >span{
    color: #e36244;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
header a{
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

header ul a:hover{
    color: #e36244;
}


.hero{
    height: calc(100vh - 70px);
    position: relative;
    overflow: hidden;
}
@media(max-width:768px){
    .skills{
        height: auto;

    }
}
.hero .container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
    height: 100%;
}


.hero .container .contact{
    width: 50%;
}
@media(max-width:992px){
    .hero .container{
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .hero .container .contact{
        width: 90%;
    }
}




.hero .container .contact h2{
    padding: 10px;
    background-image: linear-gradient(to left, #64243c50,#df864250);
    border: 1px solid white;
    color: white;
    width: fit-content;
    font-size: 20px;
}
.hero .container .contact h1{
    color: #fff;
    font-size: 35px;
    padding: 10px 0;
}
.hero .container .contact h1 > span{
    color: #e36244;
}
.hero .container .contact p{
    color: #c5c5c5;
    font-size: 14px;
    line-height: 1.7;
}
.hero .container .contact a{
    position: relative;
    display: inline-block;
    width: 140px;
    height: 148px;
    margin-top: 40px;

}

@media(max-width:768px){
    .hero .container .contact h1{
        font-size: 30px;
    }
}

.hero .container .contact a:hover i{
    transform: translate(10px ,-12px);
}
.hero .container .contact a i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    transition: 0.3s;
}

@keyframes move{
    100%{
        transform: translatey(-10px);
    }
}

.hero .container .contact img{
    animation: rotet 5s infinite linear ;
    width: 100%;
}
@keyframes rotet{
    100%{
        transform: rotate(360deg);
    }
}

.hero .container .image{
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
}
@media(max-width:992px){
    .hero .container .image{
        width: 100%;
    }
}

.hero .img1{
    width: 100%;
    mix-blend-mode: lighten;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -10000;

}

.hero ul{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;
    padding: 20px 15px;
    background-color: #23232370;
    border-radius: 15px;
}
@media(max-width:768px){
    .hero ul{
        flex-direction: row;
        width: 90%;
        bottom: 0px;
        top: auto;
        justify-content: space-between;
        
    }
}

.hero ul a{
    display: inline-block;
    color: white;
    font-size: 18px;
}
.hero ul a:hover i{
    color: #e36244;
}

.hint--top:after,
.hint--bottom:after,
.hint--left:after{
    background-color: #fff;
    color: black;
    border-radius: 3px;
    text-shadow: none;
    font-weight: bold;
}


.hint--top:before{
    border-top-color: white;
}
.hint--bottom:before{
    border-bottom-color: white;
}
.hint--left:before{
    border-left-color: white;
}

.transition{
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
.transition > div{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s;
}

.transition > div:nth-child(1){
    background-color: #2e2257;
    z-index: 5;
}


.transition > div:nth-child(2){
background-color: #3a2d70;
z-index: 4;
}
.transition > div:nth-child(3){
background-color: #4b3893;
z-index: 3;

}


.my-element {
    --animate-duration: 1s;
}

